/*PROCESS SECTIOn */

.process-section {
  padding: 140px 10%;
}

.process-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  margin-top: 100px;
}
.process-timeline {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.timeline-line {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--border);
}

.timeline-step {
  position: relative;
}

.step-number {
  width: 46px;
  height: 46px;
  border-radius: 12px;
  border: 1px solid var(--border);
  background: var(--light-gray);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Syncopate", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.12em;
  margin-bottom: 26px;

  transition: all 0.35s ease;
}

.timeline-step:hover .step-number {
  background: var(--text);
  color: #fff;
  transform: translateY(-6px);
}

.timeline-step h3 {
  font-family: "Syncopate", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.timeline-step p {
  font-size: 0.9rem;
  line-height: 1.7;
  color: var(--muted);
}

/* TECH CARD */

.tech-card {
  border: 1px solid var(--border);
  border-radius: 24px;
  padding: 40px;
  background: var(--light-gray);
}

.tech-title {
  font-family: "Syncopate", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.tech-box {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 0.9rem;
  font-weight: 600;
}

.tech-box i {
  font-size: 1.4rem;
  opacity: 0.9;
}
@media (max-width: 1024px) {
  .process-wrapper {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .process-timeline {
    grid-template-columns: repeat(2, 1fr);
  }

  .timeline-line {
    display: none;
  }
}

@media (max-width: 768px) {
  .process-timeline {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
